/*Estilo para la sección de peliculas favoritas*/
#peliculasFatvoritas{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-bottom: 1%;
}

#btnPeliculas{
    text-align: center;
}

.boton{
    background-color: var(--clr-mora);
    color: var(--clr-white);
    border-radius: 5px;
    border: 1px var(--clr-black);

    font-size: 2rem;

    margin-top: 1%;
    margin-bottom: 1%;

    padding-top: 1%;
    padding-bottom: 1%;

    cursor: pointer;
}

.hide{
    display: none;
}

.card-container{
    width: 40%;
}

.pelicula{
    width: 70%;
    height: 100%;
    border-radius: 5%;
    text-align: center;
    background-color: brown;
}

.imgFavoritas{
    width: 60%;
    height: 5%;
    margin-top: 5%;
}

.card-ditail{
    text-align: justify;
    padding: 0 5% 2% 5%; 
}

#buscar{
    display: flexbox;
    flex-direction: row;
    padding-bottom: 3%;
}

#buscador{
    width: 20%;
}

