/*Estilo para la sección de Sobre MI*/
#sombreMi{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

#tituloSobreMi, #tituloProyectos, #tituloHabilidades, #tituloContacto, #tituloPeliculas{
    display: flex;
    flex-direction: row;
}

#sombreMi h2, #proyectos h2, #tituloHabilidades h2, #tituloContacto h2, #tituloPeliculas h2{ 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2%;
}

#contenidoSobreMi{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 3%;
}

#imagenSobreMi{
    width: 10%;
    height: 10%;
    border-radius: 100px;
}

#parrafoSobreMi{
    margin-left: 50px;
    width: 70%;
}